html{
    scroll-behavior: smooth;
    background-color: black;
}

body{
    background-color: black;
    overflow: hidden!important;
}
*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #505050;
    transition: ease 1s;
}

nav a:hover {
    color: #acacac;
    border-top: solid #acacac;
    border-bottom: solid #acacac;
}


/* Navbar */
nav{
    margin-left: 10%;
    margin-top: 7%;
    position: fixed;
    text-align: center;
}



/* Intro */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}
.introRow {
    min-height: fit-content;
    width: 50%;
    color: #686767;
    border: solid #686767;
    padding: 5%;
    

    -webkit-box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0); 
    box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0);
}


/* Work */
.workRow {
    height: 75%;
    max-height: 75vh;
    width: 50%;
    color: #686767;
    border: solid #686767;
    padding: 5%;
    -webkit-box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0); 
    box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0);
}

.nav {
    color: #686767;
    background-color: transparent;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-link{
    background-color: transparent!important;
    color: #686767!important;
    transition: ease 1s;
}
.nav-link:hover {
}


/* Contact */
.contactRow {
    height: 75%;
    min-height: fit-content;
    width: 50%;
    color: #686767;
    border: solid #686767;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 2.5%;
    -webkit-box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0); 
    box-shadow: 0px 10px 26px -7px #686767, 5px 5px 15px 5px rgba(104,103,103,0);
}
.contactRow h1 {
    text-align: center;
}
label {
    color: gray;
    margin-top: 2.5%;
    /* display: none; */
}
select {
    display: none;
}
input[type="text"], textarea {
    background-color: #000000;
    border: 1px solid #686767;
    color: white;
    outline: none;
    transition: ease 1s;
    
} 
input[type="text"]:focus, textarea:focus{
    background-color: transparent;
    border: 1px solid #686767;
    color: white;
    border-color: #bbbbbb;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.submit {
    display: none;
}
.btn-outline-secondary {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #000000;
    border-color:#686767;
    color: #686767;
    transition: ease 1s;
}
.btn-outline-secondary:hover {
    background-color: #686767;
    border-color:#686767;
    color: #000000;
    border-radius: 0%;
}

.icons {

    display: flex;
    justify-content: space-evenly;
}
svg {
    color: #686767;
    height: 40px;
    width: 40px;
    transition: ease 1s;
}

svg:hover {
    cursor: pointer;
    color: #bbbbbb;
    transform: rotate(360deg);
}


@media (max-width: 480px) {

    body{
        background-color: black;
        overflow: scroll!important;
    }

    nav{
        display: none;
    }

    .introRow{
        width: 100%;
        margin-top: 10%;
    }

    .workRow {
        width: 100%;
        margin-top: 35%;

    }

    .contactRow {
        width: 100%;
        margin-top: 10%;

    }
}