html {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

#About-Me-Animation-Div {
    display: block;
    transition: .5s linear;
}

/* Navbar */
#Navigation {
    width: 98.5vw;
    height: 10vh;
    position: fixed;
    font-weight: 900;
    color: rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    opacity: 1;
    padding-left: 2.5vw;
}

.NavLink {
    text-decoration: none;
    transition: .5s linear;
    color: #424242;
}

.NavLink:hover {
    color: #fda6b4;
    cursor: pointer;
}

.NavLink:active {
    text-decoration: none;
}

.Nav-Left {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;

}

.Nav-Right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

/* Intro Container */
.Intro-Container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.Intro-Content {
    width: 95vw;
    height: 20%;
    text-align: center;
}

.Intro-Header {
    height: 90%;
    width: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: .25vw;
    color: rgb(66, 66, 66);
}

.Intro-Header-o {
    text-decoration: none;
    color: pink;
    transform: rotate(25deg);
    cursor: pointer;
    transition: .25s linear;
    background-color: transparent;
    border: none;
    font-size: .90em;
    font-weight: 900;
    height: auto;
    width: auto;
    z-index: 99;
}

.Intro-Header-o:hover {
    transform: rotate(0deg);
}

#Header {
    opacity: 1;
    transition: 2s linear;
}

/* About Me Proffessional */
.About-Container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5%;
    padding-left: 2.5%;
}

.About-Container-Box {
    width: 100%;
    height: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.Left-Side {
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.LS-Info-Top {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.LS-Info-Top img {
    width: auto;
    height: 90%;
    margin-bottom: -5%;
}

.LS-Info-Mid {
    height: 70%!important;
    width: 100%;
    text-align: left;
}

.LS-Info-Mid-Header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    color: pink;
}

.LS-Info-Main {
    width: 95%;
    height: 100%!important;
    color: #424242;
}

.LS-Info-Footer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Skills-Header {
    width: 100%;
    text-align: center;
    color: pink;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}   

.Skills-Container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
}   

.Skills-Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #424242;
}

.Right-Side {
    width: 50%;
    height: 95%;
    padding: 2.5%;
}

.RS-Header {
    color: pink;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.RS-Header svg:hover {
    cursor: pointer;
}

.RS-Header button {
    background-color: transparent;
    border: none;
}
.RS-Header button:hover {
    border-bottom: 1px solid pink;
}

.RS-Content {
    height: 90%;
    width: 100%;
    border: 1px solid #424242;
    overflow-y: scroll;
    overflow-x: hidden;
}

.timeline {
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 0, auto;

}
.timeline::after {
    content: '';
    position: absolute;
    width: .5vw;
    background-color: pink;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0;
}

.TC-Container {
    width: 40%;
    color: rgb(66, 66, 66);
    position: relative;
    padding: 2%;
}

.TC-Content h2{
    color: pink;
}

.TC-Container h3 {
    color: grey;
}

.TC-Container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 4px solid pink;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    position: relative;
    left: 0%;
}
.left::after {
    right: -15%;
}

.right {
    position: relative;
    left: 55%;
}

.right::after {
    left: -10%;
}


.Social-Nav {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2.5%;
    opacity: 1;
}

.Social-Nav a {
    cursor: pointer;
    text-decoration: none;
}


.About-Me-Container {
    height: 100vh;
    width: 100vw;
    background-color: pink;
}