html {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
}

#About-Me-Animation-Div {
    display: block;
    transition: .5s linear;
}

/* Navbar */
#Navigation {
    width: 98.5vw;
    height: 10vh;
    position: fixed;
    font-weight: 900;
    color: rgb(66, 66, 66);
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    opacity: 1;
    padding-left: 2.5%;
}

.NavLink {
    text-decoration: none;
    transition: .5s linear;
    color: rgb(66, 66, 66);
}

.NavLink:hover {
    color: #fda6b4;
    cursor: pointer;
}

.NavLink:active {
    text-decoration: none;
}

.Nav-Left {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;

}

.Nav-Right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

/* Intro Container */
.Intro-Container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5%!important;
    overflow-x: hidden;
}

.Intro-Content {
    width: 100%;
    height: 20%;
    text-align: center;
}

.Intro-Header {
    height: 90%;
    width: fit-content;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: .25vw;
    color: rgb(66, 66, 66);
}

.Intro-Header-o {
    text-decoration: none;
    color: pink;
    transform: rotate(25deg);
    cursor: pointer;
    transition: .25s linear;
    background-color: transparent;
    border: none;
    font-size: .90em;
    font-weight: 900;
    height: auto;
    width: auto;
    z-index: 99;
}

.Intro-Header-o:hover {
    transform: rotate(0deg);
}

#Header {
    opacity: 1;
    transition: 2s linear;
}

/* About Me Proffessional */
.About-Container {
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.5%;
    padding-left: 2.5%;
}

.About-Container-Box {
    width: 100%;
    height: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.Left-Side {
    width: 50%;
    height: 95%;
    color: burlywood;
    display: flex;
    flex-direction: column;
}

.LS-Info-Top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LS-Info-Top img {
    width: auto;
    height: 50%;
    margin-bottom: -5%;
}
.LS-Info-Top h1 {
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(66, 66, 66);
}

.Right-Side {
    width: 50%;
    height: 95%;
    border: solid blue
}

.Social-Nav {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2.5%;
    opacity: 1;
}

.Social-Nav a {
    cursor: pointer;
    text-decoration: none;
}


.About-Me-Container {
    height: 100vh;
    width: 100vw;
    background-color: pink;
}