/* @media (prefers-color-scheme: dark) { */

    html {
        font-family: 'Roboto', sans-serif;
        background-color: black;
        margin: 0;
        overflow-x: hidden;
        padding: 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body {
        background-color: black;
    }
    
    html::-webkit-scrollbar {
        display: none;
    }
    
    body {
        background-color: black;
        padding: 0;
        margin: 0;
    }
    
    #About-Me-Animation-Div {
        display: block;
        transition: .5s linear;
    }
    
    /* Navbar */
    #Navigation {
        width: 98.5vw;
        height: 10vh;
        position: fixed;
        font-weight: 900;
        color: rgb(66, 66, 66);
        display: flex;
        justify-content: space-between;
        background-color: black;
        align-items: center;
        opacity: 1;
        padding-left: 2.5vw;
        z-index: 99;
    }
    
    .NavLink {
        text-decoration: none;
        transition: .5s linear;
        color: #424242;
    }
    
    .NavLink:hover {
        color: #fda6b4;
        cursor: pointer;
    }
    
    .NavLink:active {
        text-decoration: none;
    }
    
    .Nav-Left {
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
    
    }
    
    .Nav-Right {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5em;
    }
    
    /* Intro Container */
    .Intro-Container {
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    
    .Intro-Content {
        width: 95vw;
        height: 20%;
        text-align: center;
    }
    
    .Intro-Header {
        height: 90%;
        width: fit-content;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 8vw;
        font-weight: 900;
        letter-spacing: .25vw;
        color: rgb(66, 66, 66);
    }
    
    .Intro-Header-o {
        text-decoration: none;
        color: pink;
        transform: rotate(25deg);
        cursor: pointer;
        transition: .25s linear;
        background-color: transparent;
        border: none;
        font-size: 8vw;
        font-weight: 900;
        height: fit-content;
        width: auto;
        z-index: 99;
    }
    
    .Intro-Header-o:hover {
        transform: rotate(0deg);
    }
    
    #Header {
        opacity: 1;
    }
    
    #Intro-Subtext {
        color: pink;
        font-size: 2vw;
        text-align: left;
    }
    
    
    /* About Me Proffessional */
    .About-Container {
        height: 90vh;
        width: 90vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2.5%;
        padding-left: 2.5%;
    }
    
    .About-Container-Box {
        width: 100%;
        height: 100%;
        margin-top: 4%;
        display: flex;
        justify-content: space-between;
    }
    
    .Left-Side {
        width: 50%;
        height: 95%;
        display: flex;
        flex-direction: column;
    }
    
    .LS-Info-Top {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .LS-Info-Top img {
        width: auto;
        height: 90%;
        margin-bottom: -5%;
    }
    
    .LS-Info-Mid {
        height: 70%!important;
        width: 100%;
        text-align: left;
    }
    
    .LS-Info-Mid-Header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        color: pink;
    }
    
    .LS-Info-Main {
        width: 95%;
        height: 100%!important;
        color: rgb(120, 120, 120);
    }
    
    .LS-Info-Footer {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Skills-Header {
        width: 100%;
        text-align: center;
        color: pink;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }   
    
    .Skills-Container {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
    }   
    
    .Skills-Icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #424242;
        transition: ease 1s;
        border-bottom: solid black 1px;
    }

    .Skills-Icon:hover {
        color: pink;
        border-bottom: solid pink 1px;
    }
    
    .Skills-Icon svg g {
        transition: .25s linear;
    }
    
    /* .Skills-Icon svg g:hover {
        fill: pink;
    } */
    
    .Skills-Icon svg:hover {
        fill: pink;
    }
    
    .Right-Side {
        width: 50%;
        height: 95%;
        padding: 2.5%;
    }
    
    .RS-Header {
        color: pink;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10%;
    }
    
    .RS-Header svg:hover {
        cursor: pointer;
    }
    
    .RS-Header button {
        background-color: transparent;
        border: none;
    }
    .RS-Header button:hover {
        border-bottom: 1px solid pink;
    }
    
    .RS-Content {
        height: 90%;
        width: 100%;
        border: 1px solid #424242;
        overflow-x: hidden;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 50;
        -ms-overflow-style: none;
        scrollbar-width: none;
        transition: ease 1s;
    }
    
    .RS-Content:hover {
        overflow-y: scroll;
        border: 1px solid #fda6b4;
    }
    
    .RS-Content::-webkit-scrollbar {
        display: none;
    }
    
    .timeline {
        width: 100%;
        height: fit-content;
        position: relative;
        margin: 0, auto;
    
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: .5vw;
        background-color: pink;
        top: 0;
        bottom: 0;
        left: 50%;
        margin: 0;
    }
    
    .TC-Container {
        width: 40%;
        color: rgb(66, 66, 66);
        position: relative;
        padding: 2%;
    }
    
    .TC-Content h2{
        color: pink;
    }
    
    .TC-Container h3 {
        color: grey;
    }
    
    .TC-Container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: black;
        border: 4px solid pink;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .left {
        position: relative;
        left: 0%;
    }
    .left::after {
        right: -15%;
    }
    
    .right {
        position: relative;
        left: 55%;
    }
    
    .right::after {
        left: -10%;
    }
    
    .right h2 {
        padding-left: 2.5%;
    }
    
    
    
    /* Projects */
    .Projects-Container {
        height: 70vh;
        width: 90vw;
        padding-top: 2.5%;
        padding-left: 2.5%;
        margin-top: 10%;
        color: pink;
        justify-content: flex-start;
    }
    
    .Projects-Container-Box {
        width: 100%;
        height: 100%;
        padding-top: 3.5%;
        display: flex;
        flex-direction: column;
    }
    
    .Projects-Header {
        width: 100%;
        height: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
    }

    .Projects-Header a {
        text-decoration: none;
        color: pink;
        border-bottom: solid 1px black;
        transition: ease 1s;
    }

    .Projects-Header a:hover {
        border-bottom: solid 1px pink;
        cursor: pointer;
    }

    .Projects-Header a, .Projects-Header a:hover, .Projects-Header a:focus, .Projects-Header a:active {
        text-decoration: none;
    }
    
    .Project-Box {
        height: 40%;
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-gap: 100px;
    }
    
    .Project {
        width: 100%;
        height: 100%;
        color: #808080;
    }
    
    .Project-Main {
        width: 100%;
        height: 75%;
        background-color: rgb(15, 15, 15);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        opacity: .5;
        transition: .25s linear;
        border: solid 1px black;
    }
    .Project-Main:hover {
        opacity: 1;
        border-radius: 0;
        cursor: pointer;
        border: solid 1px pink;
    }
    
    .Project-Main img {
        height: 100%!important;
        width: 100%!important;
    }
    
    .GH-Link svg g {
        transition: .25s linear;
    }
    
    .GH-Link svg g:hover {
        fill: pink;
        cursor: pointer;
    }
    
    .Project-Footer {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Project-Footer a {
        text-decoration: none;
        color: #808080;
        transition: ease 1s;
    }

    .Project-Footer a:hover {
        color: pink;
        cursor: pointer;
    }
    
    .Project-Footer a:active {
        text-decoration: none;
    }

    .Project-Footer a::after {
        text-decoration: none;
    }

    .Page-Footer {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .Social-Nav {
        display: flex;
        flex-direction: column;
        height: 20vh;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2.5%;
        opacity: 1;
    }
    
    .Social-Nav a {
        cursor: pointer;
        text-decoration: none;
        animation: blink 1s;
        animation-iteration-count: 3;
        
    }
    .Social-Nav a:hover {
        animation: blink 1s;
        animation-iteration-count: 3;
    }
    
    @keyframes blink { 
        50% 
        { 
            border-color:#fff ; 
        }  
    }
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        html {
            overflow-x: hidden;
        }
        #Navigation {
            font-size: 3vw;
        }
        .Nav-Left {
            width: 20%;
        }
        .Nav-Right {
            width: 60%;
        }
        .Intro-Header {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            font-size: 13vw;
        }
        .Intro-Header-o {
            margin: 0%;
            padding: 0%;
            font-size: 13vw;
        }
        .Intro-Header-o:active {
            transform: rotate(0deg);
        }

        #Intro-Subtext {
            font-size: 4.5vw;
        }
    
        .About-Container {
            height: 100%;
            width: 100%;
        }
    
        .About-Container-Box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .Left-Side, .Right-Side {
            width: 85vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .LS-Info-Top {
            width: 100%;
            padding-top: 10%;
        }
        .LS-Info-Top img {
            width: 45%;
            height: auto;
        }
        .LS-Info-Mid {
            font-size: 5vw;
            min-height: 45vh;
        }
        .LS-Info-Main {
            min-height: 55vh;
            max-height: 55vh;
        }
        #About-Me-Prof {
            font-size: 5vw;
        }

        .Skills-Container {
            height: fit-content;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
        }
        .Skills-Icon svg {
            width: 5vw;
        }
        .Skills-Container:nth-child(3), .Skills-Container:nth-child(4), .Skills-Container:nth-child(5) {
            display: none;
        }
    
        .Right-Side {
            padding: 0%;
        }
        .RS-Content {
            height: 50vh;
            width: 100%;
            padding: 0%;
        }
    
        .Projects-Container {
            width: 95vw;
            height: 100%;
        }
        .Projects-Container-Box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .Project-Box {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 0px;
            height: 100%;
        }
    
        .right h2 {
            padding-left: 0;
            text-align: center;
        }
    
        .Social-Nav {
            display: none;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) { 
        #Navigation {
            z-index: 99!important;
        }
    
        .Nav-Right {
            width: 45%;
        }
    
        .Intro-Header-o {
            z-index: 5!important;
        }
    
        .About-Container {
            height: 100%;
            width: 100%;
        }
    
        .About-Container-Box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .Left-Side, .Right-Side {
            width: 80vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        .LS-Info-Top {
            width: 100%;
        }
        .LS-Info-Top img {
            width: 50%;
            height: auto;
        }
        .Skills-Container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
        }
        .Skills-Icon svg {
            width: 5vw;
        }
    
        .Right-Side {
            padding: 0%;
        }
        .RS-Content {
            height: 50vh;
            width: 100%;
            padding: 0%;
        }
    
        .Projects-Container {
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-left: 1%;
            padding-right: 1%;
        }
        .Projects-Container-Box {
            width: 80%;
        }
        .Project-Box {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 0px;
            height: 100%;
        }
    
        .Social-Nav {
            display: none;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) and(max-width: 992px) {
        .Nav-Right {
            width: 30%;
        }
        .LS-Info-Top img {
            width: 30%;
            height: auto;
        }
        .Social-Nav {
            display: none;
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .Nav-Right {
            width: 30%;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    
    }
/* } */
